@import "../../../../assets/styles/auth-form";

.login .container {
  display: flex;

  .page-image {
    display: flex;
    align-items: flex-end;
    margin-left: 49px;

    img {
      vertical-align: bottom;
    }
  }
}
