@import "../../../../assets/styles/auth-form";

.signup {
  margin-top: 10px;
  .container {
    display: flex;

    .page-image {
      display: flex;
      align-items: flex-end;
      margin-left: 222px;

      img {
        vertical-align: bottom;
      }
    }
  }
}
